.callback {
	max-width: 400px;
	color: #9d9d9d;
}

.callback__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1;
    color: #000;
}

.callback__form {

}

.callback__grid {

}

.callback__cell {
}

.callback__cell + .callback__cell {
	margin-top: 20px;
}

.callback__rights {
	margin: 27px 32px 0;
	color: #9d9d9d;
}


@media (max-width: $breakpoint-small-max) {
	.callback__title {
	    font-size: 22px;
	    margin-bottom: 20px;
	}

	.callback__rights {
	    padding-left: 33px;
	    margin: 0;
	}

	.callback__cell {
		margin-bottom: 8px;
	}
}