@import 'variables.scss';

.catalogs {
	max-width: 778px;
	margin: 3.6% auto .95%;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		z-index: 10;
		width: 493px;
		height: 347px;
		top: -18px;
		right: -105px;
		background: url('../img/catalogs.png') no-repeat 50% 50%;
		background-size: cover;
	}
}

.catalogs__title {
	color: #130011;
	font-size: 24px;
	font-weight: 900;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 0.12px;
	position: relative;
	z-index: 20;
}

.catalogs__desc {
	max-width: 275px;
	color: #767673;
	font-size: 18px;
	line-height: 1.667;
	letter-spacing: 0.09px;
	margin-top: 37px;
	position: relative;
	z-index: 20;
}

.catalogs__form {
	margin-top: 49px;
	position: relative;
	z-index: 20;
	.form-submit {
		width: 245px;
	}
}

.catalogs__grid {
	display: flex;
}

.catalogs__cell {
	margin-right: 8px;
	flex-grow: 1px;
	&:nth-child(1) {
		width: 245px;
	}
	&:nth-child(2) {
		width: 245px;
	}
	&:last-child {
		margin-right: 0;
	}
}

.catalogs__rights {
	color: #9d9d9d;
	text-align: center;
	display: block;
	cursor: pointer;
	font-size: 12px;
	line-height: 2;
	margin-top: 14px;
	a {
		color: #767676;
		text-decoration: underline;
		&:hover {
			color: #000;
		}
	}
}

@media (max-width: $breakpoint-small-max) {
	.catalogs {
	    margin: 10.6% auto 6.3%;
		&::after {
			width: 188px;
			height: 132px;
			top: 33px;
			right: -45px;
		}
	}

	.catalogs__title {
		font-size: 14px;
	    letter-spacing: -.2px;
	}

	.catalogs__desc {
		max-width: 150px;
		font-size: 14px;
	    margin-top: 28px;
	    line-height: 1.25;
	}

	.catalogs__form {
		margin: 15px 15px 0;
		.form-submit {
			width: 100%;
		}
	}

	.catalogs__grid {
		flex-wrap: wrap;
	}

	.catalogs__cell {
		margin-right: 0;
		width: 100%;
		margin-bottom: 8px;
	}

	.catalogs__rights {
	    line-height: 1.25;
	    margin-top: 9px;
	    position: relative;
	    text-align: left;
	}
}
