@import 'variables.scss';

.consultation {
    margin-top: 10.8%;
    margin-left: 22.5%;
    margin-right: -2.7%;
    margin-bottom: 4.8%;
}

.consultation__title {
	color: #130011;
	font-size: 24px;
	font-weight: 900;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 0.12px;
}

.consultation__body {
	display: flex;
	margin-top: 57px;
}

.consultation__desc {
	color: #767673;
	font-size: 18px;
	line-height: 1.667;
	letter-spacing: 0.09px;
	margin-right: 50px;
}

.consultation__form {
	flex-grow: 1;
	.form-submit {
		width: 275px;
	}
}

.consultation__grid {
	display: flex;
}

.consultation__cell {
	margin-right: 6px;
	flex-grow: 1;
	&:nth-child(1) {
		width: 245px;
	}
	&:nth-child(2) {
		width: 255px;
	}
	&:last-child {
		margin-right: 0;
	}
}

.consultation__rights {
	color: #9d9d9d;
	text-align: center;
	display: block;
	cursor: pointer;
	font-size: 12px;
	line-height: 2;
	margin-top: 27px;
	a {
		color: #767676;
		text-decoration: underline;
		&:hover {
			color: #000;
		}
	}
}

@media (max-width: $breakpoint-large-max) {
	.consultation {
		margin-right: 0;
		margin-left: 0;
	}
}

@media (max-width: $breakpoint-medium-max) {
	.consultation__body {
		display: block;
	}

	.consultation__desc {
		margin-right: 0;
		margin-bottom: 57px;
	}
}

@media (max-width: $breakpoint-small-max) {
	.consultation {
	    margin-top: 11.8%;
        margin-bottom: 8.5%;
	}

	.consultation__title {
	    font-size: 14px;
	    line-height: 18px;
	    letter-spacing: 0;
	}

	.consultation__desc {
	    font-size: 14px;
	    line-height: 18px;
		letter-spacing: 0;
	    margin-bottom: 22px;
	}

	.consultation__body {
	    margin-top: 13px;
	}

	.consultation__grid {
		flex-wrap: wrap;
	    padding: 0 15px;
	}

	.consultation__cell {
		margin-right: 0;
	    margin-bottom: 8px;
	    width: 100%;
	}

	.consultation__form {
		.form-submit {
			width: 100%;
		}
	}

	.consultation__rights {
	    text-align: left;
	    position: relative;
	    padding-left: 33px;
	    margin: 16px 0 0 22px;
	    line-height: 1.25;
		.form-checkbox {
			position: absolute;
			left: 0;
			top: -3px;
		}
	}
}