@import 'variables.scss';

.contacts {
	width: 778px;
	max-width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid rgb(223, 223, 222);
	display: flex;
	gap: 40px;
  padding-top: 4%;
  padding-bottom: 1.1%;

	@media (max-width: $breakpoint-small-max) {
		flex-wrap: wrap;
	}
}

.contacts__left {
	text-align: right;
	flex: 1 1;

	@media (max-width: $breakpoint-small-max) {
		width: 100%;
		margin-bottom: 20px;
	}
}

.contacts__title {
	color: rgb(19, 0, 17);
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.35px;
}

.contacts__right {
	flex: 1 1;
	color: #6c6c6a;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.667;
	p {
		margin: 0 0 30px;
	}
	strong {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0.35px;
	}
	hr {
		border-top: 1px solid #dfdfde;
		border-bottom: 0;
		margin: 42px 0 47px;
	}
	a {
		color: #6c6c6a;
	}

	@media (max-width: $breakpoint-small-max) {
		width: 100%;
	}
}

@media (max-width: $breakpoint-small-max) {
	.contacts {
	    padding-top: 12.8%;
	    padding-bottom: 4.5%;
	}

	.contacts__title {
		font-size: 14px;
	    letter-spacing: 0;
	}

	.contacts__right {
		font-size: 12px;
		line-height: 1.25;
		strong {
			font-size: 12px;
		}
		p {
		    margin: 0 0 16px;
		}
		hr {
		    margin: 23px 0;
		}
	}

	.contacts__socials {
	    margin-top: 16px;
		a {
			margin-right: 8px;
		}
	}
}
